<h1 class="span8 offset2">All gists</h1>

<div class="span8 offset2">
	<table class="table">
	  <thead>
	    <tr>
	      <th class='hidden-phone hidden-tablet'>Preview</th>
	      <th class='hidden-phone'>Language</th>
	      <th>Description</th>
	      <th>Options</th>
	    </tr>
	  </thead>

	    <% @gists.each do |gist| %>
	      <tr>
		<td class='hidden-phone hidden-tablet'><%= raw Pygments.highlight(gist.snippet.squish[0,25], lexer: gist.lang) %></td>
		<td class='hidden-phone'><%= gist.lang %></td>
		<td><%= gist.description %></td>
		<td><%= link_to 'Show', gist, class: 'btn btn-default' %>
		    <%= link_to 'Edit', edit_gist_path(gist), class: 'btn btn-default' %>
		    <%= link_to 'Destroy', gist, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
	      </tr>
	    <% end %>
	</table>
	<div class="offset3">
	    <%= will_paginate @gists, renderer: BootstrapPagination::Rails %>
	</div>
</div>
